{{ extend 'layout.html' }}
{{ include 'catalog.html' }}

{{ if len(categories) > 1: }}
<h2>Product Categories</h2>
<h2>
    {{ for category in categories: }}
[{{= A(category.name, _href=URL(r=request, f='category', args=pretty_url(category.id, category.name))) }}]
    {{ pass }}
</h2>
<br/><br/>
{{ pass }}

<h1>Products in {{= category_name }}</h1>

{{ if featured or favourites: }}
    {{ show(featured) }}
    {{ show(favourites) }}
{{ else: }}
<h2>No products in category {{= category_name }}</h2>
{{ pass }}