{{ extend 'layout.html' }}
{{ include 'td_product.html' }}

{{ if len(categories) > 1: }}
<h2>Product Categories</h2>
<h2>
    {{ for category in categories: }}
[{{= A(category.name, _href=URL(r=request, f='category', args=pretty_url(category.id, category.name))) }}]
    {{ pass }}
</h2>
<br/><br/>
{{ pass }}

<h1>Products in {{= category_name }}</h1>

{{ if featured: }}
<p><center><table width="80%">
    {{ for product in featured: show(product) }}
</table></center></p>
{{ pass }}

{{ if favourites: }}
<p><center><table width="80%">
    {{ for product in favourites: show(product) }}
</table></center></p>
{{ pass }}

{{ if not featured and not favourites: }}
<h2>No products in category {{= category_name }}</h2>
{{ pass }}