{{ extend 'layout.html' }}
{{ include 'catalog.html' }}


<h1>Checkout</h1>

{{ if not products: }}
<h2>No products in your shopping cart</h2>
{{ else: }}
<h2>Products in your shopping cart</h2>
<table>
    {{ for id, product in sorted(products.items()): }}
    <tr>
        <td>{{= A(product.name, _href=URL(r=request, f='product', args=pretty_url(product.id, product.name))) }}</td>
        <td><h3>${{= product.price }}</h3></td>
        <td><a href="{{= URL(r=request, f='remove_from_cart', args=product.id) }}">remove</a></td>
    </tr>
    {{ pass }}
    <tr>
        <td style="text-align:right"><h3>Balance:</h3></td>
        <td><h2>${{= "%.2f" % session.balance }}</h2></td>
</table>

<br/>
<br/>
<form name="google_form" action="https://checkout.google.com/cws/v2/Merchant/{{= merchant_id }}/checkoutForm" id="BB_BuyButtonForm" method="post" name="BB_BuyButtonForm">
    {{ for k, (id, product) in enumerate(products.items()): }}
    <input name="item_name_{{= k }}" type="hidden" value="{{= product.name }}"/>
    <input name="item_description_{{= k }}" type="hidden" value="{{= product.description }}"/>
    <input name="item_quantity_{{= k }}" type="hidden" value="{{= session.cart[id] }}"/>
    <input name="item_price_{{= k }}" type="hidden" value="{{= product.price}}"/>
    <input name="item_weight_{{= k }}" unit="LB" type="hidden" value="{{= product.weight_in_pounds }}"/>
    <input name="item_currency_{{= k }}" type="hidden" value="USD"/>
    {{ pass }}

    <input name="_charset_" type="hidden" value="utf-8"/>

    <!-- fill in taxes and shipping options -->

    <input alt="" src="https://checkout.google.com/buttons/buy.gif?merchant_id={{=merchant_id}}&amp;w=117&amp;h=48&amp;style=white&amp;variant=text&amp;loc=en_US" type="image" onclick="process(google_form);return false;"/>
</form>
{{ pass }}

<script language="text/javascript">
<!--
function process(form_name) {
    i = new Image()
    i.src = "/{{= request.application }}/default/empty_cart"; 
    form_name.submit();
}
//-->
</script>
{{ pass }}