{{ extend 'layout.html' }}
{{ include 'catalog.html' }}


<h1>{{= product.name }}</h1>

<img src="{{= URL(r=request, f='show', args=(product.large_image if product.large_image else product.small_image)) }}" height="200px"/>

<p>{{= product.long_description }}</p>


{{ if product.old_price: }}
    <b>was ${{= "%.2f" % float(product.old_price) }}</b>
{{ pass }}
    <h2>${{= "%.2f" % float(product.price) }}</h2>
{{ if session.cart.has_key(str(product.id)): }}
    <b>x {{= session.cart[str(product.id)] }} in cart</b>
    <br/>
    <a href="{{= URL(r=request, f='remove_from_cart', args=product.id) }}">remove one from cart</a>
    <br/>
{{ pass }}
    <a href="{{= URL(r=request, f='add_to_cart', args=product.id) }}">add one to cart</a>


{{ if product.allow_rating and product.rating > 0: }}
        {{= "%.1f" % product.rating }}/5.0 rating,
    {{ pass }}
    {{ if product.show_quantity: }}
        {{ if product.quantity_in_stock < 1: }}
            low stock
        {{ else: }}
            {{= product.quantity_in_stock }} in stock
        {{ pass }}        
    {{ pass }}
{{ pass }}    


{{ if related: }}
<h2>Related:</h2>
    {{ show(related) }}
{{ pass }}


{{ if product.allow_rating: }}
    {{ if comments: }}
<h2>Visitors' comments</h2>
<p><ul>
        {{ for comment in comments: }}
    <li>{{= comment.author }} says <i>"{{= comment.body }}"</i></li>
        {{ pass }}
</ul>
</p>
    {{ pass }}
    {{= form }}
{{ pass }}