{{ extend 'layout.html' }}
{{ include 'catalog.html' }}


<h1>{{= product.name }}</h1>

<img src="{{= URL(r=request, f='show', args=(product.large_image if product.large_image else product.small_image)) }}" height="200px"/>

<p>{{= product.description }}</p>

{{ if options: }}
    <h3>Options</h3>
    <table>
    {{ for option in options: }}
        <tr>
            <td><input type="checkbox" onchange="update_price(this, {{= option.price }})"/></td>
            <td>{{= option.description }}</td>
            <td><b>${{= '%.2f' % option.price }}</b></td>
        </tr>
    {{ pass}}
    </table>
    <br/>
{{ pass }}

{{ if product.old_price: }}
<b>was ${{= '%.2f' % float(product.old_price) }}</b>
{{ pass }}
<h2>$<span id="total_price">{{= '%.2f' % float(product.price) }}</span></h2>
<a href="{{= URL(r=request, f='add_to_cart', args=product.id) }}">add to cart</a>
{{ if session.cart.has_key(str(product.id)): }}
    ({{= session.cart[str(product.id)] }} already in cart)
{{ pass }}

{{ if product.allow_rating and product.rating > 0: }}
        {{= '%.1f' % product.rating }}/5.0 rating,
    {{ pass }}
    {{ if product.show_quantity: }}
        {{ if product.quantity_in_stock < 1: }}
            low stock
        {{ else: }}
            {{= product.quantity_in_stock }} in stock
        {{ pass }}        
    {{ pass }}
{{ pass }}    


{{ if related: }}
<h2>Related:</h2>
    {{ show(related) }}
{{ pass }}


{{ if product.allow_rating: }}
    {{ if comments: }}
<h2>Visitors' comments</h2>
<p><ul>
        {{ for comment in comments: }}
    <li>{{= comment.author }} says <i>"{{= comment.body }}"</i></li>
        {{ pass }}
</ul>
</p>
    {{ pass }}
    {{= form }}
{{ pass }}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    function update_price(e, option_price) {
        var total_price = parseFloat($("#total_price").text());
        if($(e).is(':checked')) total_price += option_price;
        else total_price -= option_price;
        $("#total_price").text(total_price);
    }
</script>