{{ def show(product, detailed=False): }}
<tr>
    <td align="left" valign="top">
        <a href="{{= URL(r=request, f='product', args=pretty_url(product.id, product.name)) }}">{{= product.name }}</a> (#{{= product.id }})
{{ if detailed: }}
        <br/>
        <i>{{= product.short_description }}</i>
        <br/>
        <b>(
    {{ if product.allow_rating and product.rating > 0: }}
        {{= "%.1f" % product.rating }}/5.0 rating,
    {{ pass }}
    {{ if product.quantity_in_stock < 1: }}
        low stock
    {{ else: }}
        {{= product.quantity_in_stock }} in stock
    {{ pass }}
        )</b>
    </td>
    <td align="center" valign="middle">
    {{ if product.old_price: }}
        <b>was ${{= "%.2f" % float(product.old_price) }}</b>
    {{ pass }}
        <h2>${{= "%.2f"%float(product.price) }}</h2>
    {{ if session.chart.has_key(str(product.id)): }}
        <b>x {{= session.chart[str(product.id)] }} in chart</b>
        <br/>
        <a href="{{= URL(r=request, f='remove_from_chart/%s' % product.id) }}">remove one from chart</a>
        <br/>
    {{ pass }}
        <a href="{{= URL(r=request, f='add_to_chart/%s' % product.id) }}">add one to chart</a>
{{ pass }}
    </td>
    <td align="center" valign="middle">
{{ if product.large_image: }}
        <img src="{{= URL(r=request, f='show/%s' % product.small_image) }}" height="100px" onclick="window.open('/{{= request.application}}/default/popup?/{{= request.application }}/default/show/{{= product.large_image }}', '', 'resizable=1,HEIGHT=200,WIDTH=200');"/>
{{ else: }}
        <img src="{{= URL(r=request, f='show/%s' % product.small_image) }}" height="100px"/>
{{ pass }}
    </td>
</tr>
{{ return }}